player-connection-mode=Listen
player-connection-guid=3437077299
player-connection-debug=0
player-connection-project-name=Nav n’ Defend
player-connection-ip=192.168.0.77
player-connection-ip=10.5.0.2
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
build-guid=bb65c06575014f47b5d0f113b79c64fb
